/* Grid layout */
.wrapper {
  display: grid;
  /* grid-column-gap: 20px; */
  /* grid-row-gap: 20px; */
  grid-template-columns: repeat(3,1fr 2fr);
  grid-template-rows: minmax(100,auto);
  background-image: url('images/skyForSponsors.jpeg');
  margin:0;
}

.wrapper>li {
  /* background: #E2F0D6;; */
  padding:1em;
}

.wrapper>li:nth-child(odd) {
  /* background: #fff; */
}


/* Grid styles */
ol {
  list-style: none;
  padding: 1em;
}

h2 {
  border-bottom: 1px solid #95AB63;
}

li>p:first-child {
  display: block;
  font-size: 5rem;
  font-weight: lighter;
  text-align: center;
}

li>h2,p:nth-child(3) {
  width: 70%;
  text-align: justify;
  margin: auto;
  margin-bottom: 1em;
}
.explanation0 {
  grid-column: 1/3;
  grid-row: 1/2;
}
.explanation1 {
  grid-column: 1/3;
  grid-row: 2/3;
  background-color:  #E2F0D6;
  opacity: 0.8;
  box-shadow: 0 4px 6px 0px #10222B;
}

.explanation2 {
  grid-column: 3/5;
  grid-row: 4/5;
  background-color:  #E2F0D6;
  opacity: 0.8;
  box-shadow: 0 4px 6px 0px #10222B;
}

.explanation3 {
  grid-column: 5/7;
  grid-row: 5/7;
  background-color:  #E2F0D6;
  opacity: 0.85;
  box-shadow: 0 4px 6px 0px #10222B;
}

/* Interested*/
.interested {
  width: 60%;
  margin: auto;
  padding-top: 3em;
}
