


/* BANNER */
.banner {
  margin: auto;

}

img {
  width:100%;
  opacity: 0.7;
}

/* BANNER TEXT */
.banner-text {
  margin: auto;
}

.banner h1 {
  position: absolute;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.banner p {
  position: absolute;
  width: 50%;
  top: 65%;
  left: 35%;
  transform: translate(-50%, -50%);
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
  color: #10222B;
text-align: justify;
}

/* FORM SUBSCRIPTION */
.headerForm {
  position: absolute;
  top: 90%;
  left: 35%;
  /* transform: translate(-50%, -50%); */
  margin: 0% 5% 0% 5%;
}

.subscription {
  width: 100%;
  background-color: #10222B;
  padding: 3% 10%;
  margin-left: auto;
}

.subscription-row {
  display: flex;
  justify-content: space-around;
}

.subscription-input {
  width: 30%;
}


.col-xs-4 {
  margin:auto;
}




.btn-green {
  background-color: #95AB63;
  border: #95AB63;
  margin-left: 0;
  /* margin-top: 10px; */
}

.btn-green:hover {
  background-color: #8A9E5C;
  border: #8A9E5C;
}

/* GRID LAYOUT */
.fourElements .col-sm-5, .col-sm-7{
  margin: 0;
  padding:0;
}

.row h2 {
  text-align: center;
  margin-top: 50px;
  color:#10222B;
  font-weight: bold;
}

.row p {
  text-align: justify;
  margin: 15%
}

.fourElements img {
  box-shadow:  0px 0px 30px 30px #10222B;
}

