body {
  background-image: url(/images/pattern.png);
  background-color: #95AB63;
}

/* CHARITY CARD */

.charities {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 600px;
  grid-column-gap: 10px;
  grid-row-gap:10px;
}

.charity-card {
  display: grid;
  grid-template-rows: 3fr 2fr 1fr;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 6px 0 #375A28;
}

/* charity image */
.charity-image {
  text-align: center;
  margin: 0; 
  object-fit: contain;
}

.charity-image img {
  max-width: 100%; 
  /* max-height: 100%; */
  object-fit: contain;
  border-radius: 20px 20px 0 0;

}
/* charity description */


.charity-description h2 {
  margin-top: 10px;
  color: #24436C;
  font-weight: bolder;
  padding: 0 20px;
}

.charity-description {
  color:#268487;
  padding: 0 0 20px 0;
  padding: 0 20px;
}

/* BUTTONS */
.donate-info {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.donate-info button {
  width:80%;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 6px 0 #375A28; 
  background-color: #607D37;
  height: 40px;
  font-size: 25px;
  color: white;
}

.donate button {
  background-color: #268487;
  box-shadow: 0 4px 6px 0 #24436C; 
}

.donate button:hover {
  background-color: #24436C; 
}

.learn button:hover {
  background-color: #375A28;
}