body {
  background-image: url(../images/pattern.png);
  background-color: #95AB63;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.map {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  grid-column-gap: 20px;
  text-align: center;
  margin-left: 40px;
}

.map-explanations {
  text-align: justify;
  color: white;
  font-size: 1.3em;
  padding: 0 20px;
}
 .map-explanations p {
   margin-bottom: 30px;
 }

.business-help {
  margin-top: 30px;
  color: black;
  border-radius: 20px;
  margin-right: 30px;
}

.business-tick {
  border-radius: 10px;
  overflow: hidden;
}

.business-list-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.business-tick {
  background-color:white;
  height: 400px;
  box-shadow: 0 4px 6px 0 #375A28;
  padding-top: 20px;
  padding-left: 40px;
  font-size: 1.3em;
}
